<% include partials/header %>

<h1 class=" hero hero-bg-small">
    <%= title %>
</h1>
<% if(warning) { %>
    <div class="row flex-spaces">
        <div class="label label-error">
            <%= warning %>
        </div>
<% } %>
    <div class="container">
        <div class="wrapper animated bounceInLeft contactCard">
            <div class="columns">
                <div class="card contactCard">
                    <div class="card-body">
                        <form method="POST" action="/add">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" class="form-input">
                            </div>

                            <div class="form-group">
                                <label for="category">Category</label>
                                <!--<input type="text" id="category" name="category" class="form-input" >-->
                                <select id="category" name="category" class="form-input" style="border-radius:15px;">
                                        <% var categories =["Automotive","Corporate","Cosplay","Portrait","Product & Promotional","Social Media","Wedding","Other"]
                                        for (let i = 0; i < categories.length; i++) { %>
                                    <option value="<%= categories[i] %>"><%= categories[i] %></option>
                                            <%}%>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" class="form-input" >
                            </div>

                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" id="date" name="date" class="form-input" >
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text-area" id="description" name="description" class="form-input"></textarea>
                            </div>
                            <!--  Not currently using tags or images
                            <div class="form-group">
                                <label for="imageUrl">Image</label>
                                <input type="image" id="imageUrl" name="imageUrl" class="form-input">
                            </div>

                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <input type="text" id="tags" name="tags" class="form-input bootstrap-tagsinput" data-role="tagsinput" value="">
                            </div>
                            -->
                            <div class="form-group", style="display: none" >
                                <label for="userID">ID</label>
                                <input type="text" id="userID" name="userID" class="form-input" value="<%= user.id %>">
                            </div>

                        <button type="submit" class="button">Add Listing</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <% include partials/footer %>