<% include partials/header %>



    <div class="row flex-center">
        <div class="sm-4 col">

            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" class="form-input" value="<%= listing.title %>">
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" class="form-input" value="<%= listing.city %>">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" id="description" name="description" class="form-input" value="<%= listing.description %>">
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                                <fieldset>
                                    <select id="category" name="category">
                                    <% var categories =["Wedding","Corporate","Automotive","Cosplay","Portrait","Holidays","Product & Promotional","Social Media","Other"]
                                        for (let i = 0; i < categories.length; i++) { %>
                                        <option value="<%= categories[i] %>"><%= categories[i] %></option>
                                    <% } %>
                                    </select>
                                </fieldset>
                         </div>

                        <button type="submit" class="btn-secondary btn-block">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>