<% include partials/header %>
  <h1>
    <%= title %>
    <% include partials/filter %>
  </h1>
  <div class="gradient">
  <div class="listings-title">

  </div>
</div>
  
  <section class="content-section">
    <style scoped>
      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;
      }

      .card {
        margin: 1rem;
      }
    </style>
    <% for (let i = 0; i < listings.length; i++) { %>

      <div class="card listing-card" style="width: 20rem;">
       <!-- <img src="<%= listings[i].imageUrl %>" alt="Card example image" style="height:200px;"> -->

        <div class="card-body">
          <h4 class="card-title">
            <%= listings[i].title %>
          </h4>

          <h5 class="card-subtitle">
            Location: <%= listings[i].city %>
          </h5>

          <h5 class="card-subtitle">
             Event Date: <%= listings[i].date %>
          </h5>

          <h5 class="card-subtitle">
            Category: <%= listings[i].category %>
          </h5>

          <p class="card-text">
            <%= listings[i].description %>
          </p>
          <!--
          <p class="card-text">
            <%= listings[i].tags %>
          </p>
          -->
          <% if (user && user.photographer == "Yes") { %>
            <a href="/viewListing/<%= listings[i]._id %>" class="listing-link">View Full Listing</a>
          <%}%>
          <% if(!user) { %>
            <a href="/subscribe" class="listing-link">View Full Listing</a>
          <% } %>
        </div>
      </div>
      </div>
      <% } %>
  </section>
  <% include partials/footer %>