<% include partials/header %>
  <h1>
    <%= title %>
    <% include partials/filter %>
  </h1>
  <!--
  <div class="gradient">
  <div class="listings-title">
    -->
  </div>
</div>
  <div class="listings-container">
  <section class="content-section">
    <style scoped>
      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;
      }

      .card {
        margin: 1rem;
      }
    </style>
    <% for (let i = 0; i < listings.length; i++) { %>
      <!--
      <div class="item">
        <div class="polaroid">
          <div class="listing-details">Location: <%= listings[i].city %> <br>
          Event Date: <%= listings[i].date %> <br>
          Category: <%= listings[i].category %> <br>
          <%= listings[i].description %> <br>
          </div>
          <div class="caption"><%= listings[i].title %> <br>
            <% if (user && user.photographer == "Yes") { %>
              <a href="/viewListing/<%= listings[i]._id %>" class="listing-link">View Full Listing</a>
            <%}%>
            <% if(!user) { %>
              <a href="/subscribe" class="listing-link">View Full Listing</a>
            <% } %>
          </div>
          </div>
        </div>
      -->
      <div class="card listing-card" style="width: 20rem;">

        <div class="card-body">
          <h4 class="card-title">
            <%= listings[i].title %>
          </h4>

          <p class="card-subtitle">
            Location: <%= listings[i].city %>
          </p>

          <p class="card-subtitle">
             Event Date: <%= listings[i].date %>
          </p>

          <p class="card-subtitle">
            Category: <%= listings[i].category %>
          </p>

          <p class="card-text">
            <%= listings[i].description %>
          </p>
        
          <p class="card-text">
            <%= listings[i].tags %>
          </p>
          
        
          <% if (user && user.photographer == "Yes") { %>
            <a href="/viewListing/<%= listings[i]._id %>" class="listing-link">View Full Listing</a>
          <%}%>
          <% if(!user) { %>
            <a href="/subscribe" class="listing-link">View Full Listing</a>
          <% } %>
          
        </div>
      </div>
      
      <% } %>
    </div>
  </div>
  </section>
  <% include partials/footer %>