<% include partials/header %>
<div class="container">
        <div class="hero hero-sm">
          <div class="col-10 col">
            <h1>
              <%= title %>
            </h1>
          </div>
        </div>
      
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Portfolio</th>
            </tr>
          </thead>
          <tbody>
      
            <% for (let i = 0; i < users.length; i++) { %>
      
              <tr>
                <td>
                    <img src="/images/<%= users[i]._id %>.png" style="max-height:100px; max-width:100px;" />
                </td>
                <td>
                    <%= users[i].name %>
                </td>
                <td>
                  <a href="<%= users[i].portfolioLink %>"><%= users[i].portfolioLink %></a>
                </td>
      
              <% } %>
          </tbody>
        </table>
      </div>
<% include partials/footer %>