<% include partials/header.ejs %>

<div class="hero hero-sm" style="padding:30px;">
  <h1><%= listing.title %></h1>
</div>
<div class="container">
  <div class="columns">
    <div class="column col-12">
        <h3><%= listing.city %></h3>
        <h3>Date of Event: <%= listing.date %></h3>
        <p><%= listing.description %></p>
    </div>
    <a href="/contact/<%= listing.userID %>" class="listing-link">Contact Poster</a>
  </div>
</div>
<% include partials/footer.ejs %>