<% include partials/header.ejs %>

<div class="hero hero-sm" style="padding:30px;">
  <h1><%= listing.title %></h1>
</div>
<div class="container">
  <div class="columns">
    <div class="card" style="min-width:50%">
      <div class="column col-12">
          <h3>Location: <%= listing.city %></h3>
          <h3>Date of Event: <%= listing.date %></h3>
          <p><%= listing.description %></p>
      </div>
      <div class="card-footer">
        <a href="/contact/<%= listing.userID %>">Contact Poster</a>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>